<!DOCTYPE html>
<html>
<head>
    <title>ESP32 Sensor Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>ESP32 Sensor Logs</h1>

    <h2>Device Status</h2>

    <p>LED Colour: <span id="ledStatus">--</span></p>
    <p>Device Status: <span id="deviceStatus">--</span></p>
    <p>Last Update: <span id="lastUpdate">--</span></p>

    <canvas id="myChart" width="300" height="150"></canvas>

    <script>
        fetch("/data")
            .then(response => response.json())
            .then(data => {

                const timestamps = data.map(row => row.timestamp);
                const temperatures = data.map(row => parseFloat(row.temperature))
                const humidity = data.map(row => parseFloat(row.humidity))
                const latest = data[data.length - 1]

                document.getElementById("lastUpdate").innerText = latest.timestamp
                document.getElementById("ledStatus").innerText = latest.led
                document.getElementById("deviceStatus").innerText = latest.status

                const ctx = document.getElementById("myChart").getContext("2d") ;

                new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: timestamps,
                        datasets: [
                          {
                            label: "Temperature (°C)",
                            data: temperatures,
                            borderColor: "red",
                            borderWidth: 2
                          },
                          {
                            label: "Humidity",
                            data: humidity,
                            borderColor: "blue",
                            borderWidth: 2
                          }
                      ]
                    }
                });
            });
    </script>
</body>
</html>